<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2>Follow Users</h2>
      <% if @users.empty? %>
        <p>フォローしている人はいません</p>
      <% else %>
        <%= render 'users/index',users: @users %>
      <% end %>
    </div>
  </div>
</div>